body {
    background: linear-gradient(135deg, #2c3e50, #4ca1af);
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;

}

.board {
    display: grid;
    grid-template-columns: repeat(10, 50px);
    grid-template-rows: repeat(10, 50px);
    border-radius: 1.25%;
    border: 5px solid black;
}

.board-square {
    display: flex;
    justify-content: center;
    align-items: center;
}

.pieceBlack {
    width: 35px;
    height: 35px;
    background-color: #1C1C1C;
    border-radius: 50%;
    border: black 3px solid;
    }

.kingBlack::before {
    content: "♔";
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    font-size: 24px;
    color: white;
}


.pieceWhite {
    width: 35px;
    height: 35px;
    background-color: white;
    border-radius: 50%;
    border: black 3px solid;
    }

.kingWhite::before {
    content: "♚";
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    font-size: 24px;
    color: black;
}

.pieceHighlight {
    width: 35px;
    height: 35px;
    border: white 3px solid;
    border-radius: 100%;
    opacity: 25%;
}